.stay-hydrated-container{
    font-family:"Bree serif";
    background-color: rgb(153, 192, 46);
}

.stay-hydrated-image{
    border-radius:20px;
}
.stay-hydrated-heading{
    font-weight:bold;
    font-size:36px;
    color:rgba(34, 35, 34, 0.579);
}
.stay-hydrated-paragraph{
    font-size:20px;
    color:rgb(132, 101, 101);
}
.guest-card-content{
    background-color:rgb(183, 209, 112);
}