@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.guest-nav-image{
    height:50px;
    width:60px;
}

.guest-navbar-heading{
    font-family:'Roboto';
    font-weight:300;
    font-size:26px;
    color:darkgreen;
    
}

.nav-link{
    color:black;
    border-radius:6px;
}

.guest-nav-image{
    height:50px;
    width:60px;
}

.hr-line{
    border-style:solid;
    border-width:1px;
    border-color:white;
}

/* Sidebar links */
.sidebar-link{
    color:white !important;
    font-size:18px;
    font-weight:500;
    display:flex;
    align-items:center;
}

/* Make icons white */
.sidebar-link i{
    color:white;
    width:25px; /* keeps all text aligned */
}

/* Active link */
.sidebar-link.active{
    background-color:#287328;
    border-radius:6px;
}

/* Hover effect  */
.sidebar-link:hover{
    background-color:#2f8f2f;
    border-radius:6px;
}

.sidebar-divider{
    border: none;
    height: 1px;
    background-color: white;
    margin: 8px 0 12px 0;
    opacity: 0.7; /* optional - makes it softer */
}


/* stat card*/
.stat-card {
  background: linear-gradient(135deg,#198754,#157347);
  border-radius: 12px;
  border: none;
}


/* Footer section*/
.simple-footer {
    background-color: #273029;
    color: white;
    text-align: center;

    padding: 12px 10px;   /* smaller padding */
    font-size: 14px;      /* smaller text */
}

.footer-container h3 {
    font-size: 18px;
    margin-bottom: 4px;
}

.footer-container p {
    margin: 3px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;   /* controls spacing */
    margin-top: 5px;
}

.social-icons svg {
    width: 14px;
    height: 14px;
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.copyright {
    font-size: 12px;
    opacity: 0.8;
    margin-top: 6px;
}

.page-content {
    flex: 1;
}

.exercise-plan-card {
    padding: 15px;
    border-radius: 12px;
}

.exercise-img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.exercise-plan-description {
    min-height: 80px;
}

.back-btn {
    text-decoration: none;
    color: #212529;
    font-weight: 500;
}

.back-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.back-btn:hover .back-icon {
    background-color: #198754;  /* your theme green */
    color: white;
}

.back-btn:hover {
    text-decoration: none;
}