@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.tips-page {
    padding: 40px;
    background: #f5f6fa;
}

.tips-title {
    text-align: center;
    margin-bottom: 40px;
}

.tips-title h2 {
    color: #1f7a38;
    font-size: 28px;
}

.tips-title p {
    color: #666;
    font-size: 14px;
}


.tips-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.tips-card {
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    padding: 25px;
    text-align: center;
    transition: 0.3s ease;
    position: relative;
}

.tips-card:hover {
    transform: translateY(-8px);
}


.tips-card.featured {
    border: 2px solid #2ea44f;
}


.tips-icon {
    position: relative;
    margin-bottom: 20px;
}

.tips-icon i {
    font-size: 40px;
    color: #2ea44f;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #2ea44f;
    color: #fff;
    padding: 4px 10px;
    font-size: 11px;
    border-radius: 20px;
}


.tips-content h3 {
    margin-bottom: 10px;
    color: #222;
}

.tips-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}


.tips-btn {
    display: inline-block;
    background: #2ea44f;
    color: #fff;
    padding: 8px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.tips-btn:hover {
    background: #1f7a38;
}




@media (max-width: 992px) {
    .tips-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 576px) {
    .tips-page {
        padding: 20px;
    }

    .tips-container {
        grid-template-columns: 1fr;
    }

    .tips-title h2 {
        font-size: 22px;
    }
}
.back-btn {
    text-decoration: none;
    color: #212529;
    font-weight: 500;
}

.back-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.back-btn:hover .back-icon {
    background-color: #198754;  /* your theme green */
    color: white;
}

.back-btn:hover {
    text-decoration: none;
}